/********************************/
/*** Ejw Besigheim Stylesheet ***/
/********************************/

/* Webfonts laden (zur Zeit nur für Menü) */
@font-face { font-family:'BebasNeueRegular'; 
  src:url('type/BebasNeue-webfont.eot'); src:url('type/BebasNeue-webfont.eot?#iefix') format('eot'), url('type/BebasNeue-webfont.woff') format('woff'), url('type/BebasNeue-webfont.ttf') format('truetype'), url('type/BebasNeue-webfont.svg#webfontylsBz5LV') format('svg');
    font-weight:normal; font-style:normal; }

body { font-family:Helvetica, Arial, sans-serif; font-weight:normal; margin:0; font-size:13px; background-color:#BFC9CB; }
p,ol,ul,address { margin:.5em 0; }

h2 { margin:15px 0 0 0; font-size:22px; line-height:28px; font-weight:normal; }
h3, .componentheading, legend { font-size:16px; margin:10px 0 5px 0; text-align:left; font-weight:lighter; }
h4 { font-weight:bold; font-size:12pt; margin:20px 0 3px 0; color:#666666; text-decoration:none; }

fieldset { border:none; }
legend { padding:.5em 0 0 0; }
td { font-size:9pt; }
hr { border:1px solid; }

a:link img, a:visited img, a:hover img { border-style:none; border:none; display:block; }
a:link, a:visited { color:#cc871f; text-decoration:none; }
a:hover { color:#ffa927; text-decoration:none; }
ul.menu a { display:block; }
.blockrechts a:link img, .blockrechts a:visited img, .blockrechts a:hover img { display:inline; padding:0 4px 0 0; }

/* Aussehen Content */
h2 a { color:#000; }
.small { font-size:8pt; text-align:left; }
.iteminfo { margin:0 0 10px 0; }
.create { margin:0 0 10px 0; font-size:8pt; color:#666; }
dt.article-info-term { display: none; }
dd, dl { margin:0; }
.items-leading > div, .item { margin:0 0 20px 0; padding:0 0 10px 0; border-bottom:1px dotted #999; }
.leading_separator { border-top:1px dotted #999; width:100%; }
.tool-tip { padding: 5px; background-color:#eee; border:1px solid; }
.tool-title { font-weight:bold; padding:0 0 5px 0; }
.tool-text { font-style:italic; color:#888; }
blockquote { margin:0 0 0 5em; padding:5px 0 5px 40px; border-top:1px dashed #000; border-bottom:1px dashed #000; width:40%; background-color:#eee; background-image:url(../media/event_kl.png); background-repeat:no-repeat; background-position:5px 1px; }

/* Positionierung Contentspalten */
.cols1 { display:block; float:none !important; margin:0 !important; }
.cols2 { width:45%; }
.cols3 { width:30%; }
.column1 , .column2 { border:solid 0px #D4A7C5; margin:0 5px 0 0; position:relative; }
.column2 , .column1 { float:left; margin:0; }
.column2 { float:right; margin:0; width:45%; }
.contentpaneopen_edit, #page .buttonheading { float:right; }
.article_row { margin:0px 0 0px 0; padding:0; overflow:hidden; }
.article_column { padding:10px 10px 10px 0; /* border-bottom:1px dotted #999; */  }
.row_separator2 { display: block; clear: both; margin: 0; border:solid 0px; }
.blog_more { margin:3em 0 4em 0; }
.items-more { margin:30px 0; }
.counter { margin:10px 0 0 0; color:#aaa; text-align:center; }
.pagination { width:98%; margin:0 auto; text-align:center; }
.pagination li { display:inline; }
.pagination li a, .pagination li span { margin:0 3px; padding:.5em .7em; }
.pagination li a:hover { border:1px solid #787d80; margin:0 3px; padding:.5em .7em; color:#fff; background:#ffa927; }
.pageWords { display:inline; }
.pageWords span, .pageWords a { border:none; padding:0 5px; }
.pageActive { border:1px solid #ddd; }
.pageInactive { border:1px solid #787d80; }

/* Button-Styles */
input.button {  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff; box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #dddddd) );
  background:-moz-linear-gradient( center top, #eeeeee 5%, #dddddd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd');
  background-color:#eeeeee; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  border:1px solid #cccccc;
  display:inline-block; color:#333333; margin:0 0 3px 5px; padding:2px 6px; text-decoration:none; }
input.button:hover { background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #eeeeee) );
  background:-moz-linear-gradient( center top, #dddddd 5%, #eeeeee 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee'); background-color:#dddddd; }
input.button:active { position:relative; top:1px; }

/* Header und Login */
#topNav { width:70%; margin:0 auto; }
#header { position:relative; left:50%; width:900px; height:150px; margin:2em 0 2em -450px; }
#userheader { position:relative; left:50%; width:900px; height:35px; margin:0 0 0 -450px; background-color:#fff; -webkit-border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px; -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; border-bottom-left-radius:3px; border-bottom-right-radius:3px; }

#login { position:absolute; height:98px; width:173px; left:758px; top:71px; }
#mod_login_messagesimg, #mod_login_messagestext { display:inline; padding:0 0 0 .25em; }
#mod_login_username { position:relative; margin:.5em 0 0 2em; }
#mod_login_logoutform { padding:.5em 0 0 2em; }
#mod_login_greeting { font-weight:bold; color:#000; }
#suche { float:right; margin:-2em 2em 0 0; }

/* Inhaltspositionierung */
.blockrechts .moduletable { margin:0 0 30px 0; }
#inhalt { position:relative; left:50%; width:960px; height:auto; overflow:auto; margin:1em 0 2em -450px; padding:2em 0 3em 0; background-color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
#inhalt .menu { float:left; width:105px; height:auto; margin:0 0 0 22px; }
#inhalt .moduletable_mein { width:110px; height:auto; float:left; margin:30px 0 0 0; }
#inhalt .content { width:600px; min-height:500px; height:auto; margin:-15px 0 0 160px; padding:0 7px 0 0; line-height:20px; /* overflow:auto; border-right:1px solid; border-color:#ccc; */ }
#inhalt .blockrechts { float:right; width:170px; height:auto; padding:0 1em; }


/* Horizontales Menü */
#nav { position:relative; height:80px; padding:0; }
#nav li { float:left; list-style:none; }
#nav li:first-child { width:32px; margin:0 8px 0 0; background: url('../media/home.png') no-repeat left; text-indent:-9999px; } /* Home-Icon, text-indent rückt Text aus Sichtfeld */

/* Hauptnavi */
.item-191 { display:none; }
#nav a { display:block; padding:10px; font:25px 'BebasNeueRegular', Arial, sans-serif; letter-spacing:0; text-shadow:1px 1px 0px #eee; }
#nav a:visited, #nav a:link { display:block; color:#333; line-height:20px; } /*Hauptnavi - inaktiv und Grunddeklaration*/
#nav a:active, #nav li.on a.top, #nav li.on a { color:#fff; } /*Hauptnavi - aktive Punkte und hover*/
#nav a:hover { display:block; text-shadow: 1px 1px 0px #ffa927; background:url('../media/dreieck-grau-oben.png') no-repeat bottom center; } /* Hauptnavi - hover */
#nav li.on a.top { text-shadow:1px 1px 0px #333; background:url('../media/dreieck-grau-oben.png') no-repeat bottom center; }
#nav li.on a.top:hover { text-shadow:1px 1px 0px #ffa927; }

/* Subnavi */
#nav li ul { display:none; position:absolute; left:0; top:40px; margin:0 auto; padding:0 10px 20px 40px; width:80%; border-top:1px solid #505050; background:#bfc9cb; } /*Subnavi verstecken, solange Main inaktiv und nicht gehovered */
#nav li:hover ul, #nav li.over ul { position:absolute; display:block; z-index:3; } /*Subnavi einblenden*/
#nav li.on ul { display:block; } /*Subnavi - einblenden, wenn Main selected*/  
#nav li ul li:first-child { width:auto; margin:0; text-indent:0px; } /* Subnavi width & text-indent reset von Start-Icon */
#nav li ul li a { font:14px Arial, sans-serif; text-shadow:none; } /* Subnavi font-face reset */
#nav li.off ul, #nav li.on ul  { position:absolute; height:20px; width:100%; }
#nav li.on ul li.on a:hover, #nav li.on ul li.off a:hover, #nav li.off ul li.off a:hover, #nav li.on ul li.on a { color:#ffa927; background:url('../media/dreieck-w-oben.png') no-repeat bottom center; text-shadow:none; } /* Subnavi - Punkte on hover */
#nav li ul li a:visited, #nav li ul li a:link { display:block; color:#333; } /*Subnavi - inaktiver Punkt*/
#nav li ul li a:active, #nav li ul li a:hover, #nav li.on ul li.on a { color:#000; } /*Subnavi - aktiver Punkt*/


/* Menüformatierung */

/* Menüebene 1 Test */
.menu { list-style-type:none; }
.menu a { color:#000; }
.menu1 { background-image:url(../media/menu/button1.png); font-weight:bold; background-repeat: no-repeat; list-style-type:none; margin:0 0 0 -40px; padding:4px 0 9px 10px; }
.menu1:hover { background-image:url(../media/menu/button2.png); background-repeat:no-repeat; }

/* Menüebene 2 */
.menu ul { list-style-type:none; padding:0 0 0 5px; }
.menu2 { list-style-type:none; margin:0 0 0 -45px; padding:3px 0 2px 9px; }
.menu2:hover { font-weight:bold; }

/* Aktiver Menüpunkt bleibt gehighlightet */
#current { background-image:url(../media/menu/button2.png); background-repeat:no-repeat; font-weight:bold; }
li li { background-image:none !important; }

/* Abstand der jeweils ersten gelisteten Menüpunkte im Untermenü zum Übermenü */
li.item12, li.item18, li.item33, li.item32, li.item37, li.item40, li.item43, li.item71, li.item74, li.item12 { margin-top:12px; }

/* Menüebene3 */
li.item52, li.item53, li.item55 { list-style-type:none; }
li.item52 a, li.item53 a, li.item55 a { color:#999999; margin-left:-25px; }
li.item52 a:hover, li.item53 a:hover, li.item55 a:hover { color:#ffa927; font-weight:normal; }

/* Footer */
#nachoben { float:right; margin-top:-1.5em; font-size:8pt; }
#subfooter { position:relative; left:50%; width:960px; margin:.5em 0 3em -450px; text-align:right; font-size:8pt; }
#footer { position:relative; left:50%; width:960px; height:270px; margin:0 0 0 -450px; line-height:11pt; background-color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#footer img { width:75px; height:75px; margin:0 0 0 52px; }
div.spalte { padding:0 20px 0 20px; width:200px; float:left; display:block; } 
h5 { font-size:11pt; font-weight:bold; margin:.25em 0 1em 0; text-align:center; }
#footer a:link img, #footer a:visited img, #footer a:hover img { display:inline; }
.spalte table { margin:5px 0; }
.spalte td { padding:5px; }
.rot { background-color:#fdd; }
.gruen { background-color:#dfd; }
.orange { background-color:#fec; }
.borderrechts { border-right:1px solid #888; }

/* Style Losungen */
/*Style innerer Modulrahmen*/
.los_93_content { font-size: 9pt; font-family: Helvetica, Arial, sans-serif; margin: 0 0px; width: auto; }
/*Style Wochentag/Datum*/
.los_93_datum { font-size: 8pt; font-style:italic; width: auto; margin:1em 0 0 0; }
/*Style Sonntagstext*/
.los_93_sonntagtxt { font-size: 9pt; font-style: italic; margin-top: 7px; line-height: 12pt; }
/*Style Losungstext*/
.los_93_losungtxt { font-size: 8pt; margin-top: 7px; line-height: 12pt; }
.los_93_losungtxt_link { font-size: 8pt; text-align: right; }
a.los_93_losungtxt_link:link, a.los_losungtxt_link:visited { font-size: 8pt; font-weight: normal; text-decoration: none; }
a.los_93_losungtxt_link:hover { font-weight: normal; text-decoration: underline; }
/*Style Lehrtext*/
.los_93_lehrtxt { font-size: 8pt; margin-top: 7px; line-height: 12pt; }
.los_93_lehrtxt_link { font-size: 8pt; text-align: right; margin-top: 7px; }
a.los_93_lehrtxt_link:link, a.los_lehrtxt_link:visited { font-size: 8pt; font-weight: normal; text-decoration: none; }
a.los_93_lehrtxt_link:hover { font-weight: normal; text-decoration: underline; }
/*Style Info Link*/
.los_93_info_link { font-size: 8pt; margin-top: 8px; }
a.los_93_info_link:link, a.los_info_link:visited { font-weight: normal; text-decoration: none; }
a.los_93_info_link:hover { font-weight: normal; text-decoration: underline; }
/*Style externe Links*/
.los_93_ext_links { font-size: 10px; }
a.los_93_ext_links:link, a.los_ext_links:visited { font-weight: normal; text-decoration: none; }
a.los_93_ext_links:hover { font-weight: normal; text-decoration: underline; }
/* Style Losungen Info-Pop-Up */
.cr_inner { font-family:Arial, Helvetica, Geneva, Swiss, SunSans-Regular; margin:15px; width:auto; border:dotted 1px #416262; }
.cr_headline { color:#fff; font-size:12pt; font-weight:bold; background-color:#416262; text-align:left; padding:1px 1px 1px 3px; width:auto; }
.cr_bodyline { font-size:11pt; font-weight:bold; background-color:#c5d5d7; text-align:left; padding:1px 1px 1px 3px; width: auto; }
.cr_content { font-size:10pt; text-align:justify; padding:2px 2px 20px 3px; width:auto; }
/* Ende Style Losungen */

/* Community Builder Tweaks */
#cbProfileTitle { margin:0 0 15px 0; }

/* Editor Anpassungen */
.button2-left, .button2-left .pagebreak, .button2-left .readmore, .button2-left .image, .button2-left .blank { display:inline; padding:4px; }
.pagebreak, .blank { border:1px solid #888; }
#editor-xtd-buttons { margin:1em 0 0 0; }
/* Editor-Toggle zur Zeit ausgeschaltet */
#jce_editor_text_toggle { display:none; }

/* Ausrichtung, Formatierung, Komponenten, ...*/
/* Social Bookmarks */
.bmsmanager-bm span a img { display:inline; }
#uddeim-navbar2 ul li a img { display:inline; }
.acymailing_footer { display:none; }

/* Kalenderanpassungen */
/* sind in der common.css in components.com_zcalendar.assets.css */

/* Newsslider, Featured Articles. Weiteres in der eigenen Style-CSS */
#nsp-newsslider { background-color:#b9c3c5; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:inset 0px 0px 5px 2px #888; -webkit-box-shadow:inset 0px 0px 5px 2px #888; box-shadow:inset 0px 0px 5px 2px #888; }
.nsp_top_interface .prev { float:left; }
.nsp_top_interface .next { float:right; }
